.navbar, #footer, .orange {
  background-color: rgb(226, 159, 70);
}

#footer {
  padding: 5px 100px;
  font-size: 11px;
}

.title-banner {
  font: 6vw 'IM Fell English SC', serif;
  padding: 10%;
  margin: 0;
  text-shadow: 5px 5px 5px #000;
}

#home {
  background-image: url(images/campfire-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#banner {
  height: 400px;
}

.main-content {

}

.content-main {
  padding: 5% 15%;
}

.content-main h1{
  color: #fff;
}

.content-main p {
  color: #fff;
}

.solid {
  background-color: #000;
}

.trans {
  background-color: #000000be;
}

