@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Roboto+Condensed:wght@300;400;700&display=swap');

.navbar, #footer, .orange {
  background-color: #d17f35;
}

.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

#footer {
  padding: 5px 100px;
  font-size: 11px;
}

.title-banner {
  font: 6vw 'IM Fell English SC', serif;
  padding: 10%;
  margin: 0;
  text-shadow: 5px 5px 5px #000;
}

#home {
  background-image: url(images/campfire-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#banner {
  height: 400px;
}

button {
  background-color:  #d17f35 !important;
  color:  #fff !important;
  border: 0 !important
}

.content-main {
  padding: 5% 15%;
}

.content-main h1{
  color: #fff;
}

.content-main p {
  color: #fff;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 187);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 187, 0.664);
  font-weight: bold;
}

/* Background color for home region sections */

.solid {
  background-color: #000;
}

.trans {
  background-color: #000000be;
}

/* Font */

h1 {
  font-family: 'IM Fell English SC', serif;
  text-transform: uppercase;
  color: #fff;
  font-weight:bold;
  text-align: center;
  padding-bottom: 3%;
  font-size: 3rem;
  }

.reigion-title {
  color: #fffbd5 !important;
}


h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #d17f35;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 15px;
}

p {
  padding: 0 10%;
}